//
// Mixins
// -------------------------------------------------------------------

@mixin ci-create()
{
	position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &:before
    {
    	content: '';
    	display: block;
    }
}

@mixin ci-create-item()
{
	border: 0;

	// Positioning (x & y centered)

	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	transform: translate( -50%, -50% );

	// Makes cover

	.cover-image-x &
	{
		width: 100%;
    	height: auto;
    	max-width: none;
		max-height: none;
	}

    .cover-image-y &
    {
    	width: auto;
    	height: 100%;
    	max-width: none;
		max-height: none;
    }
}

@mixin ci-set-ratio( $ratio-x, $ratio-y )
{
	&:before
	{
		padding-top: percentage( $ratio-y / $ratio-x );
	}
}